<div class="white-bg-card">
  <div id="<%= dom_id appraisal %>">
    <p>
      <strong>Employee:</strong>
      <%= appraisal.employee_email %>
    </p>

    <p>
      <strong>Collaboration:</strong>
      <%= appraisal.collaboration %>
    </p>

    <p>
      <strong>Work ethic:</strong>
      <%= appraisal.work_ethic %>
    </p>

    <p>
      <strong>Problem solving:</strong>
      <%= appraisal.problem_solving %>
    </p>

    <p>
      <strong>Decision making:</strong>
      <%= appraisal.decision_making %>
    </p>

    <p>
      <strong>Communication:</strong>
      <%= appraisal.communication %>
    </p>

  </div>
</div>
<br>
