<div id="<%= dom_id vacation %>">
  <p>
    <strong>Start date:</strong>
    <%= date_formatter(vacation.start_date) %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= date_formatter(vacation.end_date) %>
  </p>

  <p>
    <strong>Vacation days:</strong>
    <%= vacation.vacation_days %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= vacation.reason %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vacation.status %>
  </p>
</div>
