<div id="<%= dom_id vacation %>">
  <p>
    <strong>Start date:</strong>
    <%= vacation.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= vacation.end_date %>
  </p>

  <p>
    <strong>Vacation days:</strong>
    <%= vacation.vacation_days %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= vacation.reason %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vacation.user_id %>
  </p>

</div>
