<div id="<%= dom_id user %>">
  <div class="user-details">
    <h2>
      <%= user.first_name.capitalize + " " + user.last_name.capitalize %>
    </h2>
    <hr>
    <section>
      <% if !user.job_title.nil? %><b>Job Title:</b> <%= user.job_title.titleize %><br><% end %>
      <b>Email:</b> <%= user.email %><br>
      <b>Address:</b> <%= user.address %><br>
      <b>Country:</b> <%= user.country.titleize %><br>
      <b>Phone Number:</b> <%= user.phone_number %><br>
      <b>Gender:</b> <%= user.gender.capitalize %><br>
      <b>Tax:</b> <%= user.tax * 100 %>%<br>
      <b>Gross Salary:</b> $<%= user.gross_salary %>/annum<br>
      <% tax = (user.tax * user.gross_salary) %>
      <% net_salary = user.gross_salary - tax  %>
      <b>Net Salary:</b> $<%= net_salary %>/annum
    </section>
  </div>
</div>
