<h1>Editing user</h1>

<%= form_with model: @user, url: user_session_path(@user) do |form| %>
  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %><br>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %><br>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
