<p style="color: green"><%= notice %></p>

<%= render @user %>
<br>

<% if current_user.id == @user.id %>
  <div>
    <%= link_to "Edit", edit_user_registration_path(@user) %> |
    <%= link_to "Back", root_path %>
  </div>
<% else %>
  <div>
    <%= link_to "Back", root_path %>
  </div>
<% end %>
